<div>
    <form [formGroup]="addCouponForm">
        <label>Title</label><br/>
        <input type="text" formControlName="title">
        <span *ngIf="addCouponForm.controls['title'].invalid && addCouponForm.controls['title'].touched">
            Anonymous coupons are hard to buy
        </span><br/><br/>

        <select id="category" formControlName="category"><br/>
            <option *ngFor="let c of categories" value={{c}}>{{c}}</option>
        </select>
        <span *ngIf="addCouponForm.controls['category'].invalid && addCouponForm.controls['category'].touched">
            It needs to belong somewhere
        </span><br/><br/>

        <label>Description</label><br/>
        <input type="text" formControlName="description"><br/><br/>

        <label>Starts</label><br/>
        <input type="date" formControlName="startDate">
        <span *ngIf="addCouponForm.controls['startDate'].invalid && addCouponForm.controls['startDate'].touched">
            It needs to start some time
        </span><br/><br/>

        <label>Expires</label><br/>
        <input type="date" formControlName="endDate">
        <span *ngIf="addCouponForm.controls['endDate'].invalid && addCouponForm.controls['endDate'].touched">
            Can't be in the past.
        </span><br/><br/>

        <label>In Stock</label><br/>
        <input type="number" formControlName="amount">
        <span *ngIf="addCouponForm.controls['amount'].invalid && addCouponForm.controls['amount'].touched">
            Give them at least 1
        </span><br/><br/>

        <label>Price</label><br/>
        <input type="number" formControlName="price">
        <span *ngIf="addCouponForm.controls['category'].invalid && addCouponForm.controls['category'].touched">
            Even if you are just giving them away
        </span><br/><br/>

        <label>Image URL</label><br/>
        <input type="text" formControlName="image"><br/><br/>

        <button (click)="addCoupon()">Add</button>

    </form>
</div>